@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*

Regra é um conjunto de proprieddes agrupadas em torno de uma tag classe ou ID

Propriedades permitem alterar comportamentos de tags, aplicando valores de acordo com a sua especialidade.

A propriedade é composta pelo "nome-da-propriedade:valor;"
*/

/*CSS Reset 
*é um caracter curinga que representa todas as tags*/

*{
    margin: 0px;   /*margem externa */
    padding: 0px;  /*margem interna */ 
}

/*FORMATAÇÃO DAS TAGS PRINCIPAIS*/

/*Redefine o tamanho da fonte root para facilitar o cálculo em REM */
html{
    font-size: 10px;
}

body{
    /*font-family: Arial, Helvetica, sans-serif; */
    font-family: inter;
    background-color: #ddd;
    
    /* background-image: url(/Imagens/logo.png);
    background-repeat: no-repeat;
    background-position: center;  */

}
h1{
    color: #343a40;
    border-bottom: 2px solid #aaa;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 4rem;
}
h2{
    font-size: 2.8rem;
    color: #343a40;
    margin-top: 50px;
    margin-bottom: 20px;
}
h3{
    font-size: 2.4rem;
    color: #343a40;
    margin-top: 30px;
    margin-bottom: 20px;
}

p{
    font-size: 1.8rem; /*1.8rem equivale a 18px */ 
    line-height: 150%; /*alterar o espaçamento entre linhas */
}

/*FORMATAÇÃO DO CABEÇALHO*/

header{
      background-color: #343a40;
      padding: 10px 20px 10px 20px;   /*top right bottom left */
}
/*formata a tag <a> que está dentro de <header> */

header a{
    color: #fff; /*cor da fonte ou letra */
    text-transform: uppercase;  /* caixa alta */
    text-decoration: none; /*tira o underline */
    padding-left: 15px;  /* margem equerda de cada <a> */
    font-weight: bold;   /* nregrito */
    font-size: 1.5rem;
    
}

header a:hover{
    text-decoration: underline;
}

nav {
        width: 1366px;
        margin: 0px auto 0px auto;   /*centraliza */
        display: flex;    /*muda para flexbox */
        justify-content: space-between; /*distribuir para as margens extremas */
        align-items: center;   /*alinha verticalmente */
}

nav img{
    border-radius: 8px;  /*Arredondamento dos cantos */
}

/*FORMATAÇÃO DA SEÇÃO DA IMAGEM DO CABEÇALHO*/

/*Para criar classes no CSS, usa-se o (.) mais o nome da classe*/
.imagem_cabeçalho img{
    width: 100%;
}

/*FORMATAÇÃO DA PÁGINA INICIAL */

main{
    width: 1366px;   /*largura*/
    margin: 0px auto 50px auto;  /*centraliza*/
    min-height: 1000px;  /*altura minima*/
}
/*000 111 222 333 444 555 666 ... 999 aaa bbb ccc ddd eee fff */

.cards_home {
    margin-top: 50px;  /*Margem superior */
    margin-bottom: 50px;  /*Margem inferior */
    display: flex;  /* Ativa o modo flexbox */
    flex-wrap: wrap;  /* Quebra */
    justify-content: space-between;  /* Distribui o espaço entre os elementos */ 
    

}

.card{
    width: 31%;                 /* Largura do card */
    margin-bottom: 30px;        /* Espaçamento inferior */
    border: 1px solid #bbb;   /*Largura estilo e cor */
    border-radius: 8px;         
    text-align: center;         /* Centralizar o texto */

    
}

.card img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;  /*Arredondar os cantos superiores*/
}
.card h3, .card p{
    margin: 10px;
}

/* FORMATAÇÃO DO RODAPÉ */

footer{
    font-size: 1.6rem;
    background-color: #343a40;
    color: #fff;
    padding: 20px 0px;
}
footer .footer_content{
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_social a{            /*Comportamento padrão do link */
    color: #fff;
    font-size: 2.0rem;
    margin-right: 10px;
}
.footer_social a:hover{      /*Quando passar o mouse no link */
    color: #007bff;
}

/*FORMATAÇÃO DA PÁGINA EMPRESA */

article li{
    font-size: 1.8rem;
    line-height: 150%;
}
article ul, article ol{
    margin-left: 20px;
    margin-bottom: 20px;
}
article{
    display: flex;
    justify-content: space-between;
}
article div:first-child{
    width: 55%;
    margin-right: 30px;
}
article div:last-child{
    width: 45%;
}
article div img{
    width: 100%;
    border-radius: 10px;
}


/*FORMATAÇÃO DA GALERIA DE IMAGENS*/

.galeria_destaque{
    display: flex;
    justify-content: center;
    margin: 50px 0px 10px 0px;
    background-color: #333;
}

.galeria_destaque img{
    width: 60%;
}

.galeria_miniaturas{
    display: flex;
    justify-content: space-between;
}

.galeria_miniaturas img{
    width: 130px;
}

.galeria_miniaturas img:hover{
    cursor: pointer;           /*Altera o cursor*/
}

/*FORMATAÇÃO TABELA*/

table{
    width: 100%;
    border-collapse: collapse;    /*retirar o espaçamento entre células*/
}

th,td{
    font-size: 1.8rem;
    text-align: start;
    padding: 10px;
}

th:nth-child(3),
td:nth-child(3){
    text-align: end;
}

th:nth-child(4),
td:nth-child(4){
    text-align: center;
}


.tabela1 td{
    border: 2px solid #000;
}

.tabela2 th{
    border-bottom: 3px solid #000;
}

.tabela2 td{
    border-bottom: 1px solid #bbb;
}

.tabela3 tr:nth-child(odd){          /*odd = impar | even = par*/
    background-color:#ccc;
}

.tabela3 th{
    background-color: #333;
    color: #fff;
}







/*
h1{
    color: blue;
    font-size: 30px;
}
h2{
     color:brown ;
}
*/